<footer class="footer" id="footer">
    <div class="container footer-container">
        <a class="logo-link-footer" href="#">
            <svg class="logo-icon-footer" width="83.15" height="23.51">
                <use href="/img/icons.svg#icon-logo"></use>
            </svg>
        </a>
        <div class="footer-form-wrapper">
            <p class="footer-form-descr">
                Subscribe to our newsletter for the latest updates on our yoga courses and events.
            </p>
            <form class="footer-form">
                <label class="footer-form-label">
                    <input
                        class="footer-user-email"
                        type="email"
                        name="footer-form-email"
                        placeholder="Placeholder"
                        pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                        required
                    />
                </label>
                <button class="footer-form-btn" type="submit">
                    Join
                </button>
                <p class="footer-form-consent">
                    By subscribing, you consent to our Privacy Policy and agree to receive updates.
                </p>
            </form>
            <div class="nav-links-footer">
                <p class="nav-links-footer-title">
                    Quick Links
                </p>
                <ul class="nav-links-list-footer">
                    <li>
                        <a class="nav-item-footer" href="#yoga-classes">
                            Yoga Classes
                        </a>
                    </li>
                    <li>
                        <a class="nav-item-footer" href="#team">
                            Team
                        </a>
                    </li>
                    <li>
                        <a class="nav-item-footer" href="#pricing">
                            Pricing
                        </a>
                    </li>
                    <li>
                        <a class="nav-item-footer" href="#contacts">
                            Contacts
                        </a>
                    </li>
                </ul>
            </div>
            <div class="social-links-footer">
                <p class="social-links-footer-title">
                    Connect With Us
                </p>
                <ul class="social-links-list-footer">
                    <li class="social-links-item-footer">
                        <a href="https://www.facebook.com/" class="social-link-footer">
                            <svg class="social-link-icon" width="24" height="24">
                                <use href="../img/icons.svg#facebook"></use>
                            </svg>
                            Facebook
                        </a>
                    </li>
                    <li class="social-links-item-footer">
                        <a href="https://www.instagram.com/" class="social-link-footer">
                            <svg class="social-link-icon" width="24" height="24">
                                <use href="../img/icons.svg#instagram"></use>
                            </svg>
                            Instagram
                        </a>
                    </li>
                    <li class="social-links-item-footer">
                        <a href="https://www.linkedin.com/" class="social-link-footer">
                            <svg class="social-link-icon" width="24" height="24">
                                <use href="../img/icons.svg#linkedin"></use>
                            </svg>
                            LinkedIn
                        </a>
                    </li>
                    <li class="social-links-item-footer">
                        <a href="https://www.youtube.com/" class="social-link-footer">
                            <svg class="social-link-icon" width="24" height="24">
                                <use href="../img/icons.svg#youtube"></use>
                            </svg>
                            Youtube
                        </a>
                    </li>
                </ul>
            </div>
            <p class="copyright-footer">
                © 2025 Yoga Studio. All rights reserved.
            </p>
        </div>
    </div>
</footer>
