<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="form-box-footer">
      <a class="logo-link-footer" href="#">
        <svg class="logo-icon-footer" width="84" height="36">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <p class="footer-form-descr">
        Subscribe to our newsletter for the latest updates on our yoga courses
        and events.
      </p>
      <div class="footer-form-wrapper">
        <form class="footer-form">
          <div class="footer-form-wrapper">
            <input
              class="footer-user-email"
              type="email"
              name="footer-form-email"
              placeholder="Placeholder"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
            />
            <p class="text-invalid">Error Text</p>
          </div>
          <button class="footer-form-btn button-animate-grey" type="submit">
            Join
          </button>
        </form>
        <p class="footer-form-consent">
          By subscribing, you consent to our Privacy Policy and agree to receive
          updates.
        </p>
      </div>
    </div>
    <div class="links-box-footer" id="contacts-footer">
      <div class="nav-links-footer">
        <p class="links-title-footer">Quick Links</p>
        <ul class="nav-links-list-footer">
          <li class="list-item-footer">
            <a class="nav-item-link-footer" href="#yoga-classes">
              Yoga Classes
            </a>
          </li>
          <li class="list-item-footer">
            <a class="nav-item-link-footer" href="#team"> Team </a>
          </li>
          <li class="list-item-footer">
            <a class="nav-item-link-footer" href="#pricing"> Pricing </a>
          </li>
          <li class="list-item-footer">
            <a class="nav-item-link-footer" href="#contacts"> Contacts </a>
          </li>
        </ul>
      </div>
      <div class="social-links-footer">
        <p class="links-title-footer">Connect With Us</p>
        <ul class="social-links-list-footer">
          <li class="list-item-footer">
            <a href="https://www.facebook.com/" class="social-link-footer">
              <svg class="social-link-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
              Facebook
            </a>
          </li>
          <li class="list-item-footer">
            <a href="https://www.instagram.com/" class="social-link-footer">
              <svg class="social-link-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-Instagram"></use>
              </svg>
              Instagram
            </a>
          </li>
          <li class="list-item-footer">
            <a href="https://www.linkedin.com/" class="social-link-footer">
              <svg class="social-link-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-linkedIn"></use>
              </svg>
              LinkedIn
            </a>
          </li>
          <li class="list-item-footer">
            <a href="https://www.youtube.com/" class="social-link-footer">
              <svg class="social-link-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-youtube"></use>
              </svg>
              Youtube
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright-wrapper">
      <p class="copyright-footer">© 2025 Yoga Studio. All rights reserved.</p>
    </div>
  </div>
</footer>
