<!-- section 4 -->
<section class="section gallery-section" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Breathe in the Space</h2>
    <p class="gallery-text">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>
    <ul class="gallery-list">
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="
              /img/gallery/gallery-1-desktop.webp    1x,
              /img/gallery/gallery-1-desktop@2x.webp 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/gallery-1-tablet.webp    1x,
              /img/gallery/gallery-1-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/gallery-1-mobile.webp    1x,
              /img/gallery/gallery-1-mobile@2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/img/gallery/gallery-1-desktop.webp"
            alt="Group performing a breathing exercise with arms raised overhead"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="
              /img/gallery/gallery-2-desktop.webp    1x,
              /img/gallery/gallery-2-desktop@2x.webp 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/gallery-2-tablet.webp    1x,
              /img/gallery/gallery-2-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/gallery-2-mobile.webp    1x,
              /img/gallery/gallery-2-mobile@2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/img/gallery/gallery-2-desktop.webp"
            alt="Group sitting in lotus pose"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="
              /img/gallery/gallery-3-desktop.webp    1x,
              /img/gallery/gallery-3-desktop@2x.webp 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/gallery-3-tablet.webp    1x,
              /img/gallery/gallery-3-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/gallery-3-mobile.webp    1x,
              /img/gallery/gallery-3-mobile@2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/img/gallery/gallery-3-desktop.webp"
            alt="Morning yoga class"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="
              /img/gallery/gallery-4-desktop.webp    1x,
              /img/gallery/gallery-4-desktop@2x.webp 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/gallery-4-tablet.webp    1x,
              /img/gallery/gallery-4-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/gallery-4-mobile.webp    1x,
              /img/gallery/gallery-4-mobile@2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/img/gallery/gallery-4-desktop.webp"
            alt="Evening yoga class"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="
              /img/gallery/gallery-5-desktop.webp    1x,
              /img/gallery/gallery-5-desktop@2x.webp 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/gallery-5-tablet.webp    1x,
              /img/gallery/gallery-5-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/gallery-5-mobile.webp    1x,
              /img/gallery/gallery-5-mobile@2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/img/gallery/gallery-5-desktop.webp"
            alt="Side view of the group"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="
              /img/gallery/gallery-6-desktop.webp    1x,
              /img/gallery/gallery-6-desktop@2x.webp 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/gallery-6-tablet.webp    1x,
              /img/gallery/gallery-6-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/gallery/gallery-6-mobile.webp    1x,
              /img/gallery/gallery-6-mobile@2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/img/gallery/gallery-6-desktop.webp"
            alt="Instructor demonstrating lotus pose to the group"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
