<!-- section 4 -->
<section class="gallery">
  <div class="container">
    <h2 class="gallery-title">Breathe in the Space</h2>
    <p class="gallery-text">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>
    <ul class="gallery-list">
      <li class="gallery-list-item">
        <picture>
          <source srcset="" media="(min-width: 1336px)" />
          <source srcset="" media="(min-width: 768px)" />
          <source srcset="" media="(min-width: 320px)" />
          <img src="" alt="" width="" height="" />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source srcset="" media="(min-width: 1336px)" />
          <source srcset="" media="(min-width: 768px)" />
          <source srcset="" media="(min-width: 320px)" />
          <img src="" alt="" width="" height="" />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source srcset="" media="(min-width: 1336px)" />
          <source srcset="" media="(min-width: 768px)" />
          <source srcset="" media="(min-width: 320px)" />
          <img src="" alt="" width="" height="" />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source srcset="" media="(min-width: 1336px)" />
          <source srcset="" media="(min-width: 768px)" />
          <source srcset="" media="(min-width: 320px)" />
          <img src="" alt="" width="" height="" />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source srcset="" media="(min-width: 1336px)" />
          <source srcset="" media="(min-width: 768px)" />
          <source srcset="" media="(min-width: 320px)" />
          <img src="" alt="" width="" height="" />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source srcset="" media="(min-width: 1336px)" />
          <source srcset="" media="(min-width: 768px)" />
          <source srcset="" media="(min-width: 320px)" />
          <img src="" alt="" width="" height="" />
        </picture>
      </li>
    </ul>
  </div>
</section>
