<!-- header -->
<header class="header" id="header">
  <div class="container header-container">
    <nav class="navigation-panel-header">
      <button class="menu-button-header" type="button">
        <svg class="menu-button-svg-header" width="24" height="24">
          <use href="/img/icons.svg#icon-menu"></use>
        </svg>
      </button>
      <ul class="navigation-panel-list-header">
        <li>
          <a class="navigation-item-header active" href="#yoga-classes"
            >Yoga Classes</a
          >
        </li>
        <li><a class="navigation-item-header" href="#team">Team</a></li>
        <li>
          <a class="navigation-item-header" href="#testimonials"
            >Testimonials</a
          >
        </li>
        <li><a class="navigation-item-header" href="#pricing">Pricing</a></li>
        <li>
          <a class="navigation-item-header" href="#contacts-footer">Contacts</a>
        </li>
      </ul>
    </nav>
    <a class="logo-link-header" href="#">
      <svg class="logo-header" width="83.15" height="23.51">
        <use href="/img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <a class="join-button-header" href="#pricing">
      Join <span class="now-part-button-header">Now</span></a
    >
  </div>
</header>
