<section id="pricing" class="pricing-section">
            <div class="container">
            <p class="subheading">Affordable</p>
            <h2 class="pricing-plan-h">Pricing Plans</h2>
            <p class="description">Choose the perfect plan for your yoga journey.</p>

            <div class="pricing-container">
                <!-- Card 1 -->
                <article class="pricing-card">
                <div class="card__price-block">
                    <h3 class="card__title">One Session</h3>
                    <p class="card__price">$10</p>
                </div>
                <div class="card__features">
                    <ul class="features-list">
                    <li>
                        <svg class="card-chek-svg" viewBox="0 0 24 24">
                        <use href="/img/icons.svg#icon-check"></use>
                        </svg>
                        1 group session
                    </li>
                    <li>
                        <svg class="card-chek-svg" viewBox="0 0 24 24">
                        <use href="/img/icons.svg#icon-check"></use>
                        </svg>
                        10% discount for next 2 sessions
                    </li>
                    <li>
                        <svg class="card-chek-svg" viewBox="0 0 24 24">
                        <use href="/img/icons.svg#icon-check"></use>
                        </svg>
                        Community support group
                    </li>
                    </ul>
                    <button type="button"
                            class="card-button default-join"
                            data-plan="One Session"
                            data-price="$10">
                    Join
                    </button>
                </div>
                </article>

                <!-- Card 2 -->
                <article class="pricing-card">
                <div class="card__price-block">
                    <h3 class="card__title">8 Sessions Package</h3>
                    <p class="card__price">$65</p>
                </div>
                <div class="card__features">
                    <ul class="features-list">
                    <li>
                        <svg class="card-chek-svg" viewBox="0 0 24 24">
                        <use href="/img/icons.svg#icon-check"></use>
                        </svg>
                        6 Group Sessions
                    </li>
                    <li>
                        <svg class="card-chek-svg" viewBox="0 0 24 24">
                        <use href="/img/icons.svg#icon-check"></use>
                        </svg>
                        2 Individual Sessions
                    </li>
                    <li>
                        <svg class="card-chek-svg" viewBox="0 0 24 24">
                        <use href="/img/icons.svg#icon-check"></use>
                        </svg>
                        Community support group
                    </li>
                    </ul>
                    <button type="button"
                            class="card-button default-join"
                            data-plan="8 Sessions Package"
                            data-price="$65">
                    Join
                    </button>
                </div>
                </article>

                <!-- Card 3 (large) -->
                <article class="pricing-card card--large">
                <div class="card__price-block">
                    <h3 class="card__title">12 Sessions Package</h3>
                    <p class="card__price">$80</p>
                    <!-- кнопка для планшета -->
                    <button type="button"
                            class="card-button tablet-only"
                            data-plan="12 Sessions Package"
                            data-price="$80">
                    Join
                    </button>
                </div>
                <div class="card__features">
                    <ul class="features-list">
                    <li>
                        <svg class="card-chek-svg" viewBox="0 0 24 24">
                        <use href="/img/icons.svg#icon-check"></use>
                        </svg>
                        8 Group Sessions
                    </li>
                    <li>
                        <svg class="card-chek-svg" viewBox="0 0 24 24">
                        <use href="/img/icons.svg#icon-check"></use>
                        </svg>
                        4 Individual Sessions
                    </li>
                    <li>
                        <svg class="card-chek-svg" viewBox="0 0 24 24">
                        <use href="/img/icons.svg#icon-check"></use>
                        </svg>
                        Monthly yoga challenges
                    </li>
                    <li>
                        <svg class="card-chek-svg" viewBox="0 0 24 24">
                        <use href="/img/icons.svg#icon-check"></use>
                        </svg>
                        Exclusive member discounts
                    </li>
                    <li>
                        <svg class="card-chek-svg" viewBox="0 0 24 24">
                        <use href="/img/icons.svg#icon-check"></use>
                        </svg>
                        Community support group
                    </li>
                    </ul>
                    <button type="button"
                            class="card-button default-join"
                            data-plan="12 Sessions Package"
                            data-price="$80">
                    Join
                    </button>
                </div>
                </article>
            </div>
            </div>
        </section>