<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Pricing Plans</title>
  <link rel="stylesheet" href="pricing.css"/>
</head>
<body>
  <section class="section-pricing section" id="pricing-section">
    <div class="container">
      <p class="section-pricing-text">Affordable</p>
      <h2 class="section-pricing-title">Pricing Plans</h2>
      <p class="section-pricing-text">
        <span>Choose the perfect plan for your yoga journey.</span>
      </p>

      <ul class="section-pricing-list">
        <!-- One Session -->
        <li class="section-pricing-item">
          <div class="pricing-item-container">
            <h6 class="pricing-item-title">One Session</h6>
            <p class="pricing-item-text">$10</p>
          </div>
          <ul class="pricing-package-list">
            <li class="pricing-package-item">
              <svg class="pricing-package-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="pricing-package-text">1 group session</p>
            </li>
            <li class="pricing-package-item">
              <svg class="pricing-package-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="pricing-package-text">10% discount for next 2 Sessions</p>
            </li>
            <li class="pricing-package-item">
              <svg class="pricing-package-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="pricing-package-text">Community support group</p>
            </li>
          </ul>
          <button data-modal-open-1 class="pricing-package-btn" type="button">Join</button>
        </li>

        <!-- 8 Sessions -->
        <li class="section-pricing-item">
          <div class="pricing-item-container">
            <h6 class="pricing-item-title">8 Sessions Package</h6>
            <p class="pricing-item-text">$65</p>
          </div>
          <ul class="pricing-package-list">
            <li class="pricing-package-item">
              <svg class="pricing-package-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="pricing-package-text">6 Group Sessions</p>
            </li>
            <li class="pricing-package-item">
              <svg class="pricing-package-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="pricing-package-text">2 Individual Sessions</p>
            </li>
            <li class="pricing-package-item">
              <svg class="pricing-package-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="pricing-package-text">Priority customer support</p>
            </li>
          </ul>
          <button data-modal-open-2 class="pricing-package-btn" type="button">Join</button>
        </li>

        <!-- 12 Sessions (Desktop version) -->
        <li class="section-pricing-item mobile-desk">
          <div class="pricing-item-container">
            <h6 class="pricing-item-title">12 Sessions Package</h6>
            <p class="pricing-item-text">$80</p>
          </div>
          <ul class="pricing-package-list">
            <li class="pricing-package-item">
              <svg class="pricing-package-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="pricing-package-text">8 Group Sessions</p>
            </li>
            <li class="pricing-package-item">
              <svg class="pricing-package-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="pricing-package-text">4 Individual Sessions</p>
            </li>
            <li class="pricing-package-item package-text-desk">
              <svg class="pricing-package-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="pricing-package-text">Access to advanced classes</p>
            </li>
            <li class="pricing-package-item">
              <svg class="pricing-package-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="pricing-package-text">Monthly yoga challenges</p>
            </li>
            <li class="pricing-package-item">
              <svg class="pricing-package-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="pricing-package-text">Exclusive member discounts</p>
            </li>
            <li class="pricing-package-item">
              <svg class="pricing-package-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="pricing-package-text">Community support group</p>
            </li>
          </ul>
          <button data-modal-open-3 class="pricing-package-btn" type="button">Join</button>
        </li>

        <!-- 12 Sessions (Tablet version with flex layout) -->
        <li class="section-pricing-item tablet tablet-flex">
          <div class="tablet-left">
            <h6 class="pricing-item-title">12 Sessions Package</h6>
            <p class="pricing-item-text">$80</p>
            <button data-modal-open-3 class="pricing-package-btn" type="button">Join</button>
          </div>
          <ul class="pricing-package-list tablet-right">
            <li class="pricing-package-item">
              <svg class="pricing-package-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="pricing-package-text">8 Group Sessions</p>
            </li>
            <li class="pricing-package-item">
              <svg class="pricing-package-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="pricing-package-text">4 Individual Sessions</p>
            </li>
            <li class="pricing-package-item">
              <svg class="pricing-package-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="pricing-package-text">Monthly yoga challenges</p>
            </li>
            <li class="pricing-package-item">
              <svg class="pricing-package-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="pricing-package-text">Exclusive member discounts</p>
            </li>
            <li class="pricing-package-item">
              <svg class="pricing-package-svg" width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="pricing-package-text">Community support group</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</body>
</html>





