<!-- section 7 -->
 <section class="section section-pricing" id="pricing-section">
    <div class="container">
      <p class="section-pricing-text">Affordable</p>
      <h2 class="section-pricing-title">Pricing Plans</h2>
      <p class="section-pricing-subtitle">Choose the perfect plan for your yoga journey.</p>

      <ul class="section-pricing-list">
        <li class="section-pricing-item">
          <div class="pricing-item-header">
            <h3 class="pricing-item-title">One Session</h3>
            <p class="pricing-item-price">$10</p>
          </div>
          <ul class="pricing-features">
            <li class="pricing-feature">1 group session</li>
            <li class="pricing-feature">10% discount for next 2 Sessions</li>
            <li class="pricing-feature">Community support group</li>
          </ul>
          <button class="pricing-btn" type="button">Join</button>
        </li>

        <li class="section-pricing-item">
          <div class="pricing-item-header">
            <h3 class="pricing-item-title">8 Sessions Package</h3>
            <p class="pricing-item-price">$65</p>
          </div>
          <ul class="pricing-features">
            <li class="pricing-feature">6 Group Sessions</li>
            <li class="pricing-feature">2 Individual Sessions</li>
            <li class="pricing-feature">Priority customer support</li>
          </ul>
          <button class="pricing-btn" type="button">Join</button>
        </li>

        <li class="section-pricing-item">
          <div class="pricing-item-header">
            <h3 class="pricing-item-title">12 Sessions Package</h3>
            <p class="pricing-item-price">$80</p>
          </div>
          <ul class="pricing-features">
            <li class="pricing-feature">8 Group Sessions</li>
            <li class="pricing-feature">4 Individual Sessions</li>
            <li class="pricing-feature">Monthly yoga challenges</li>
            <li class="pricing-feature">Exclusive member discounts</li>
            <li class="pricing-feature">Community support group</li>
          </ul>
          <button class="pricing-btn" type="button">Join</button>
        </li>
      </ul>
    </div>
  </section>
