<!-- section 3 -->
<section class="our-team-section section" id="team">
  <div class="container our-team-container">
    <p class="our-team-subtitle">Meet</p>
    <h2 class="our-team-title">Our Team</h2>
    <p class="our-team-description">
      Dedicated professionals passionate about yoga and wellness.
    </p>
    <ul class="our-team-list list">
      <li class="our-team-item">
        <picture class="team-card-image">
          <source
            media="(min-width: 1136px)"
            srcset="
              /img/team/team-1-desktop.webp    1x,
              /img/team/team-1-desktop@2x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/team/team-1-tablet.webp    1x,
              /img/team/team-1-tablet@2x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              /img/team/team-1-mobile.webp    1x,
              /img/team/team-1-mobile@2x.webp 2x
            "
            type="image/webp"
          />

          <img
            src="/img/team/team-1-mobile.webp"
            alt="Liam Johnson"
            width="343"
            height="221"
          />
        </picture>

        <div class="text-about-our-team">
          <h4 class="our-team-name">Liam Johnson</h4>
          <p class="our-team-position">Yoga instructor</p>
          <p class="our-team-text">
            Emma has over 10 years of experience in Hatha and Vinyasa yoga.
          </p>
          <ul class="our-team-social lis">
            <li class="our-team-social-icon">
              <a
                href="https://www.linkedin.com"
                class="our-team-social-icon link"
              >
                <svg class="icon" width="24" height="24">
                  <use href="/img/icons.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
            <li class="our-team-social-icon">
              <a
                href="https://www.instagram.com/"
                class="our-team-social-icon link"
              >
                <svg class="icon" width="24" height="24">
                  <use href="/img/icons.svg#icon-Instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="our-team-item">
        <picture class="team-card-image">
          <source
            media="(min-width: 1136px)"
            srcset="
              /img/team/team-2-desktop.webp    1x,
              /img/team/team-2-desktop@2x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/team/team-2-tablet.webp    1x,
              /img/team/team-2-tablet@2x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              /img/team/team-2-mobile.webp    1x,
              /img/team/team-2-mobile@2x.webp 2x
            "
            type="image/webp"
          />

          <img
            src="/img/team/team-2-mobile.webp"
            alt="Liam Johnson"
            width="343"
            height="221"
          />
        </picture>
        <div class="text-about-our-team">
          <h4 class="our-team-name">Emma Stone</h4>
          <p class="our-team-position">Meditation Coach</p>
          <p class="our-team-text">
            Liam specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          <ul class="our-team-social list">
            <li class="our-team-social-icon">
              <a
                href="https://www.linkedin.com"
                class="our-team-social-icon link"
              >
                <svg class="icon" width="24" height="24">
                  <use href="/img/icons.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="our-team-item">
        <picture class="team-card-image">
          <source
            media="(min-width: 1136px)"
            srcset="
              /img/team/team-3-desktop.webp    1x,
              /img/team/team-3-desktop@2x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/team/team-3-tablet.webp    1x,
              /img/team/team-3-tablet@2x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              /img/team/team-3-mobile.webp    1x,
              /img/team/team-3-mobile@2x.webp 2x
            "
            type="image/webp"
          />

          <img
            src="/img/team/team-3-mobile.webp"
            alt="Liam Johnson"
            width="343"
            height="221"
          />
        </picture>
        <div class="text-about-our-team">
          <h4 class="our-team-name">Sophia Lee</h4>
          <p class="our-team-position">Pilates Trainer</p>
          <p class="our-team-text">
            Sophia combines Pilates with yoga for a holistic fitness approach.
          </p>
          <ul class="our-team-social list">
            <li class="our-team-social-icon">
              <a
                href="https://www.instagram.com/"
                class="our-team-social-icon link"
              >
                <svg class="icon" width="24" height="24">
                  <use href="/img/icons.svg#icon-Instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="our-team-item">
        <picture class="team-card-image">
          <source
            media="(min-width: 1136px)"
            srcset="
              /img/team/team-4-desktop.webp    1x,
              /img/team/team-4-desktop@2x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/team/team-4-tablet.webp    1x,
              /img/team/team-4-tablet@2x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              /img/team/team-4-mobile.webp    1x,
              /img/team/team-4-mobile@2x.webp 2x
            "
            type="image/webp"
          />

          <img
            src="/img/team/team-4-mobile.webp"
            alt="Liam Johnson"
            width="343"
            height="221"
          />
        </picture>
        <div class="text-about-our-team">
          <h4 class="our-team-name">Noah Brown</h4>
          <p class="our-team-position">Yoga Therapist</p>
          <p class="our-team-text">
            Noah focuses on therapeutic yoga to aid recovery and enhance
            well-being.
          </p>
          <ul class="our-team-social list">
            <li class="our-team-social-icon">
              <a
                href="https://www.linkedin.com"
                class="our-team-social-icon link"
              >
                <svg class="icon" width="24" height="24">
                  <use href="/img/icons.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="our-team-item">
        <picture class="team-card-image">
          <source
            media="(min-width: 1136px)"
            srcset="
              /img/team/team-5-desktop.webp    1x,
              /img/team/team-5-desktop@2x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/team/team-5-tablet.webp    1x,
              /img/team/team-5-tablet@2x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              /img/team/team-5-mobile.webp    1x,
              /img/team/team-5-mobile@2x.webp 2x
            "
            type="image/webp"
          />

          <img
            src="/img/team/team-5-mobile.webp"
            alt="Liam Johnson"
            width="343"
            height="221"
          />
        </picture>
        <div class="text-about-our-team">
          <h4 class="our-team-name">Ava Green</h4>
          <p class="our-team-position">Fitness Trainer</p>
          <p class="our-team-text">
            Ava integrates strength training with yoga to promote overall
            fitness.
          </p>
          <ul class="our-team-social list">
            <li class="our-team-social-icon">
              <a
                href="https://www.facebook.com/"
                class="our-team-social-icon link"
              >
                <svg class="icon" width="24" height="24">
                  <use href="/img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="our-team-social-icon">
              <a
                href="https://www.instagram.com/"
                class="our-team-social-icon link"
              >
                <svg class="icon" width="24" height="24">
                  <use href="/img/icons.svg#icon-Instagram"></use>
                </svg>
              </a>
            </li>
            <li class="our-team-social-icon">
              <a
                href="https://www.linkedin.com"
                class="our-team-social-icon link"
              >
                <svg class="icon" width="24" height="24">
                  <use href="/img/icons.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="our-team-item">
        <picture class="team-card-image">
          <source
            media="(min-width: 1136px)"
            srcset="
              /img/team/team-6-desktop.webp    1x,
              /img/team/team-6-desktop@2x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/team/team-6-tablet.webp    1x,
              /img/team/team-6-tablet@2x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              /img/team/team-6-mobile.webp    1x,
              /img/team/team-6-mobile@2x.webp 2x
            "
            type="image/webp"
          />

          <img
            src="/img/team/team-6-mobile.webp"
            alt="Liam Johnson"
            width="343"
            height="221"
          />
        </picture>
        <div class="text-about-our-team">
          <h4 class="our-team-name">Clark Thomas</h4>
          <p class="our-team-position">Fitness Trainer</p>
          <p class="our-team-text">
            Clark specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          <ul class="our-team-social list">
            <li class="our-team-social-icon">
              <a
                href="https://www.facebook.com/"
                class="our-team-social-icon link"
              >
                <svg class="icon" width="24" height="24">
                  <use href="/img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="our-team-social-icon">
              <a
                href="https://www.instagram.com/"
                class="our-team-social-icon link"
              >
                <svg class="icon" width="24" height="24">
                  <use href="/img/icons.svg#icon-Instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
