<!-- section 2 -->
<section class="section section-yoga-classes">
    <div class="container">

        <div class="yoga-section">
            <p class="yoga-section_subtitle">Explore</p>
            <h2 class="yoga-section_title">
                <span class="default-title">Discover Our Most Popular Yoga Programs</span>
                <span class="tablet-title">Transform Your Life with Our Yoga Classes</span>
            </h2>
            <p class="yoga-section_description">
                Join our community and elevate your practice with our expertly designed yoga programs. Each course is
                tailored to meet various skill levels and personal goals.
            </p>
            </div>

    
        <ul clas="list-yoga-classes">
            <li class="item-yoga-classes">
            <!-- img -->
    <div class="program-image-yoga-classes">
        <picture>
                <source media="(min-width: 1158px)" srcset="
                            /img/yoga-classes/yoga-classes-1-desktop.webp 1x,
                            /img/yoga-classes/yoga-classes-1-desktop@2x.webp 2x
                        " type="image/webp" />
            
                <source media="(min-width: 768px)" srcset="
                            /img/yoga-classes/yoga-classes-1-tablet.webp 1x,
                            /img/yoga-classes/yoga-classes-1-tablet@2x.webp 2x
                        " type="image/webp" />
            
                <source media="(max-width: 767px)" srcset="
                            /img/yoga-classes/yoga-classes-1-mobile.webp 1x,
                            /img/yoga-classes/yoga-classes-1-mobile@2x.webp 2x
                        " type="image/webp" />
            
                <img src="/img/yoga-classes/yoga-classes-1-desktop.webp" alt="Beginner Yoga class" loading="lazy" width="421"
                    height="240" />
            </picture>
    </div>
                <div class="text-block-yoga-classes">
                <h3 class="program-title-yoga-classes">
                    Beginner Yoga: Foundations for New Practitioners
                </h3>
                    <p class="program-description-yoga-classes">
                    Learn the basics of yoga in a supportive environment.</p>
                </div>
            </li>
    

            <li class="item-yoga-classes">

                <!-- img -->
        <div class="program-image-yoga-classes">
            <picture>
                    <source media="(min-width: 1158px)" srcset="
                                /img/yoga-classes/yoga-classes-2-desktop.webp 1x,
                                /img/yoga-classes/yoga-classes-2-desktop@2x.webp 2x
                            " type="image/webp" />
                
                    <source media="(min-width: 768px)" srcset="
                                /img/yoga-classes/yoga-classes-2-tablet.webp 1x,
                                /img/yoga-classes/yoga-classes-2-tablet@2x.webp 2x
                            " type="image/webp" />
                
                    <source media="(max-width: 767px)" srcset="
                                /img/yoga-classes/yoga-classes-2-mobile.webp 1x,
                                /img/yoga-classes/yoga-classes-2-mobile@2x.webp 2x
                            " type="image/webp" />
                
                    <img src="/img/yoga-classes/yoga-classes-2-desktop.webp" alt="Vinyasa Flow Yoga class" loading="lazy" width="421"
                        height="240" />
                </picture>
            </div>

                <div class="text-block-yoga-classes">
                    <h3 class="program-title-yoga-classes">
                    Vinyasa Flow: Energize Your Body and Mind</h3>
                    <p class="program-description-yoga-classes">
                Experience a dynamic sequence that connects breath and movement.</p>
                </div>
            </li>



            <li class="item-yoga-classes">
                <!-- img -->
        <div class="program-image-yoga-classes">
            <picture>
                    <source media="(min-width: 1158px)" srcset="
                                /img/yoga-classes/yoga-classes-3-desktop.webp 1x,
                                /img/yoga-classes/yoga-classes-3-desktop@2x.webp 2x
                            " type="image/webp" />
                
                    <source media="(min-width: 768px)" srcset="
                                /img/yoga-classes/yoga-classes-3-tablet.webp 1x,
                                /img/yoga-classes/yoga-classes-3-tablet@2x.webp 2x
                            " type="image/webp" />
                
                    <source media="(max-width: 767px)" srcset="
                                /img/yoga-classes/yoga-classes-3-mobile.webp 1x,
                                /img/yoga-classes/yoga-classes-3-mobile@2x.webp 2x
                            " type="image/webp" />
                
                    <img src="/img/yoga-classes/yoga-classes-3-desktop.webp" alt="Restorative Yoga class" loading="lazy" width="421"
                        height="240" />
                </picture>
        </div>

                <div class="text-block-yoga-classes">
                    <h3 class="program-title-yoga-classes">
                    Restorative Yoga: Deep Relaxation and Healing</h3>
                <p class="program-description-yoga-classes">
                    Unwind and rejuvenate with gentle poses and mindfulness.</p>
                </div>
            </li>

        </ul>

    <a href="#pricing" class="button-yoga-classes" role="button">
        <span class="mobile-text">Join</span>
        <span class="desktop-text">Join now</span>
    </a>

    </div>
</section>