.join-button-header-menu:hover {
  background-color: rgba(194, 217, 252, 0.5);
  border: solid 1px rgba(194, 217, 252, 0.5);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join-button-header-menu:focus {
  background-color: transparent;
}

.menu-container {
  transform: translateX(100%);
  transition: transform 0.3s;
}
