body {
  font-family: 'Sarabun', sans-serif;
  color: #0d0b0a;
  background-color: #ffffff;
  word-break: break-word;
  overflow-wrap: break-word;
}

ul,
ol {
  list-style-type: none;
}

ul,
li {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 288px;
  margin: 0 auto;
  padding: 0;
}

.section {
  padding: 64px 0;
  /* Падінги в хіро і футері інші, на них клас секції не ставимо */
}
