/* Styles for Mobile devices */
.container {
  width: 100%;
  max-width: 375px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

@media only screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 704px;
    padding: 0;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1336px) {
  .container {
    max-width: 1312px;
    padding: 0;
  }
}
