/* section 4*/

/* -- Gallery -- */


.gallery-section {
    padding-left: 4px;
    padding-right: 4px;
}

.gallery-title {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    text-transform: none;
    margin-bottom: 20px;
}

.gallery-text {
    font-size: 18px;
    text-align: center;
    text-transform: none;
    margin-bottom: 48px;
}

.gallery-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.gallery-list-item {
    width: 100%;
    height: auto;
    flex-basis: calc((100% - 24px) / 2);
    border-radius: 16px;
    overflow: hidden;
}


@media screen and (min-width: 768px) {
    .gallery-section {
        padding-left: 0;
        padding-right: 0;
    }

    .gallery-title {
        margin-bottom: 24px;
    }

    .gallery-text {
        margin-bottom: 80px;
    }

    .gallery-list-item {
        max-width: 340px;
        min-width: 250px;
    }
}


@media screen and (min-width: 1336px) {

    .gallery-list-item {
        max-width: 1312px;
        flex-basis: calc((100% - 48px) / 3);
    }
    
    .gallery-title {
        font-size: 52px;
    }

    .gallery-text {
        font-weight: 500;
        max-width: 768px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}