/* Основний контейнер секції з цінами */
.section-pricing {
    padding-top: 112px;
    padding-bottom: 112px;
    text-align: center;
}

/* Підзаголовок секції */
.section-pricing-text {
    line-height: 1.5;
    text-align: center;
    display: block;
    font-weight: 600;
    color: #0d0b0a;
}

/* Головний заголовок секції */
.section-pricing-title {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    text-align: center;
    color: #0d0b0a;
}

/* Текст пыд заголовком */
.section-pricing-text span {
    display: block;
    color: #0d0b0a;
}

/* Список карток цінових планів */
.section-pricing-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    max-width: 1300px;
}

/*Окрема картка цінового плану */
.section-pricing-item {
    border: 0px solid rgba(13, 11, 10, 0.15);
    border-radius: 16px;
    padding: 32px 24px;
    width: 421px;
    background-color: #dfebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

/* Сховати версію для tablet за замовчуванням */
.tablet {
    display: none;
}

/* Назва цінового плану */
.pricing-item-title {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.01em;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 8px;
    color: #0d0b0a;
}

/* Ціна плану */
.pricing-item-text {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 24px;
    color: #0d0b0a;
}

/* Контейнер для вирівнювання контенту в середині картки */
.pricing-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Список переваг пакету */
.pricing-package-list {
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 32px;
    flex: 1;
}

/* Окремий пункт переваги з іконкою */
.pricing-package-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Текст кожної переваги */
.pricing-package-text {
    font-family: 'Sarabun', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: #0d0b0a;
    text-align: left;
    flex: 1;
    margin: 0;
}

/* Кнопка "Join" */
.pricing-package-btn {
    width: 100%;
    border: 1px solid #c2d9fc;
    border-radius: 100px;
    padding: 10px 24px;
    height: 46px;
    background-color: #c2d9fc;
    font-weight: 500;
    color: #0C0A08;
    transition-property: background-color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

/* Ефекти наведення і фокусу для кнопки */
.pricing-package-btn:hover {
    background-color: rgba(194, 217, 252, 0.5);
    border: solid 1px rgba(194, 217, 252, 0.5);
    color: #000;
    transform: scale(1.05);
}

.pricing-package-btn:focus {
    background-color: transparent;
    transform: scale(1.05);
    color: #000;
    border: 1px solid #c2d9fc;
    outline: none;
}

/* Структура для tablet */
.tablet-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
}

.tablet-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tablet-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
}

/* Media-запити для адаптації */

@media only screen and (min-width: 768px) {
    .section-pricing-text {
        margin-bottom: 16px;
    }

    .section-pricing-title {
        margin-bottom: 24px;
    }

    .section-pricing-text span {
        margin-bottom: 24px;
    }

    .section-pricing-list {
        gap: 24px;
    }

    .section-pricing-item {
        width: calc((100% - 24px) / 2);
        padding: 16px;
    }

    .pricing-package-list.pricing-item-container {
        margin-bottom: 0;
    }

    .mobile-desk {
        display: none;
    }

    .section-pricing-list .section-pricing-item:last-child {
        display: flex;
        flex-grow: 1;
        padding: 86px 16px;
        justify-content: flex-start;
        gap: 32px;
    }

    .tablet-item-container {
        width: 50%;
    }

    .pricing-item-title {
        font-size: 22px;
    }

    .pricing-item-text {
        font-size: 44px;
        margin-bottom: 24px;
    }
}

@media only screen and (min-width: 1336px) {
    .section-pricing {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .pricing-item-container {
        min-height: 148px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
    }

    .section-pricing-item {
        width: calc((100% - 24px * 2) / 3);
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .section-pricing-list .section-pricing-item:last-child {
        display: none;
    }

    .mobile-desk {
        display: flex;
    }

    .package-text-desk {
        display: none;
    }

    .pricing-item-container {
        width: 100%;
        margin: 0 auto;
    }

    .pricing-item-title {
        margin-bottom: 8px;
    }

    .pricing-item-text {
        margin-bottom: 32px;
    }
}
